Flow_Node-Red/flows.json
[{"id":"c772d115.d5f5c","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"7188bd39.cf18d4","type":"switch","z":"c772d115.d5f5c","name":"Veio texto ou audio?","property":"req.files.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":340,"y":440,"wires":[["ace9b654.bdbc28"],["c51e29da.a9cd48"]]},{"id":"62d231ef.45cdf","type":"debug","z":"c772d115.d5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":270,"y":220,"wires":[]},{"id":"ace9b654.bdbc28","type":"function","z":"c772d115.d5f5c","name":"Buffer de audio","func":"msg.payload = msg.req.files[0].buffer;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":600,"y":320,"wires":[["b47760c8.02831"]]},{"id":"1c9377a6.349ad8","type":"http in","z":"c772d115.d5f5c","name":"","url":"/fiat","method":"post","upload":true,"swaggerDoc":"","x":100,"y":380,"wires":[["7188bd39.cf18d4","62d231ef.45cdf"]]},{"id":"d25790c9.9b207","type":"http response","z":"c772d115.d5f5c","name":"Response","statusCode":"","headers":{},"x":1180,"y":660,"wires":[]},{"id":"80664df1.075c","type":"natural-language-understanding","z":"c772d115.d5f5c","name":"","categories":true,"limitcategories":"3","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":true,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":false,"keyword-sentiment":false,"maxkeywords":"50","metadata":false,"relation":true,"semantic":false,"semantic-entities":false,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"https://api.kr-seo.natural-language-understanding.watson.cloud.ibm.com/instances/42d61a7d-5d06-4cc8-a5ca-c079f0e187e8","x":860,"y":560,"wires":[["a3bb5161.d5399","e9810f36.44b69"]]},{"id":"c51e29da.a9cd48","type":"function","z":"c772d115.d5f5c","name":"Nlu Formatter","func":"msg.payload = (msg.req.body.text ? msg.req.body.text : msg.payload);\nmsg.nlu_options = {\"entity_model\":\"f4174af8-df4e-48f6-8273-cd050a83b1e2\"}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":900,"y":440,"wires":[["80664df1.075c"]]},{"id":"a3bb5161.d5399","type":"debug","z":"c772d115.d5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1190,"y":360,"wires":[]},{"id":"e9810f36.44b69","type":"function","z":"c772d115.d5f5c","name":"","func":"var msgList = []\nvar features=msg.features;\nvar entities=features.entities;\n\nvar cMo=false; var cS=false; var cMa=false;\nvar cDg=false; var cDs=false;var cCm=false; var cOT=false;\nvar cg=false;\n\nvar modeloP=\"\";\nvar modelo=\"\";\nvar rec=[{\n    \"ACESSORIOS\":[\"RENEGADE\",\"TORO\"],\n    \"CONFORTO\":[\"CRONOS\",\"TORO\"],\n    \"CONSUMO\":[\"ARGO\",\"DUCATO\"],\n    \"DESIGN\":[\"RENEGADE\",\"ARGO\"],\n    \"MANUTENCAO\":[\"FIORINO\",\"FIAT 500\"],\n    \"SEGURANCA\":[\"LINEA\",\"TORO\"],\n    \"DESEMPENHO\":[\"DUCATO\",\"MAREA\"],\n    \"tipo\":[]\n\n}]\nfor(var i=0;i<entities.length;i++){\n    msgList.push({\n        \"entity\": entities[i].type,\n        \"sentiment\":entities[i].sentiment.score,\n        \"mention\":entities[i].text\n    })\n    if(entities[i].sentiment.score<0){\n        rec.push({\n            \"tipo\": entities[i].type\n        })\n    }\n    else\n        rec.push({\n            \"tipo\": \"\"\n        })\n    if(entities[i].type==\"MODELO\")\n        modeloP=entities[i].text;\n}\n//Checando qual recomendação será a melhor\n\nfor(var j=0;j<rec.length;j++){\n     if(rec[j].tipo==\"MODELO\")\n        cMo=true;\n    if(rec[j].tipo==\"SEGURANCA\")\n        cS=true;\n    if(rec[j].tipo==\"MANUTENCAO\")\n        cMa=true;\n    if(rec[j].tipo==\"DESIGN\")\n        cDg=true;\n    if(rec[j].tipo==\"DESEMPENHO\")\n        cDs=true;\n    if(rec[j].tipo==\"CONSUMO\")\n        cCm=true;\n    if(rec[j].tipo==\"CONFORTO\")\n        cOT=true;\n    if(rec[j].tipo==\"ACESSORIOS\")\n        cg=true;\n}\n//Identificação das recomendações - Meu amigo...\nif(cOT)\n    if(cg)\n        if(modeloP!=\"TORO\")\n            modelo=\"TORO\";\n        else\n            modelo=\"CRONOS\";\n    else\n        if(modeloP!=\"CRONOS\")\n            modelo=\"CRONOS\";\n        else\n            modelo=\"TORO\";\nelse if(cDs)\n    if(cCm)\n        if(modeloP!=\"DUCATO\")\n            modelo=\"DUCATO\";\n        else\n            modelo=\"MAREA\";\n    else\n        if(modeloP!=\"MAREA\")\n            modelo=\"MAREA\";\n        else\n            modelo=\"DUCATO\";\nelse if(cCm)\n    if(cDs)\n        if(modeloP!=\"DUCATO\")\n            modelo=\"DUCATO\";\n        else\n            modelo=\"ARGO\";\n    else\n        if(modeloP!=\"ARGO\")\n            modelo=\"ARGO\";\n        else\n            modelo=\"DUCATO\";\nelse if(cDg)\n    if(cCm)\n        if(modeloP!=\"ARGO\")\n            modelo=\"ARGO\";\n        else\n            modelo=\"RENEGADE\";\n    else\n        if(modeloP!=\"RENEGADE\")\n            modelo=\"RENEGADE\";\n        else\n            modelo=\"ARGO\";\nelse if(cMa)//Arrumar\n    if(cCm)\n        if(modeloP!=\"FIAT 500\")\n            modelo=\"FIAT 500\";\n        else\n            modelo=\"FIORINO\";\n    else\n        if(modeloP!=\"FIORINO\")\n            modelo=\"FIORINO\";\n        else\n            modelo=\"FIAT 500\";\nelse if(cS)\n    if(cOT||cg)\n        if(modeloP!=\"TORO\")\n            modelo=\"TORO\";\n        else\n            modelo=\"LINEA\";\n    else\n        if(modeloP!=\"LINEA\")\n            modelo=\"LINEA\";\n        else\n            modelo=\"TORO\";\nelse if(cg)//Arrumar\n    if(cDg)\n        if(modeloP!=\"RENEGADE\")\n            modelo=\"RENEGADE\";\n        else\n            modelo=\"TORO\";\n    else\n        if(modeloP!=\"TORO\")\n            modelo=\"TORO\";\n        else\n            modelo=\"RENEGADE\";\n            \n//Checando se o array de entidades possui algum dado\nif(msgList.length===0)\n    modelo=\"\";\nvar msgEntities={\n    \"recommendation\": modelo,\n    \"entities\": msgList,\n}\nmsg.payload=msgEntities;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":780,"y":680,"wires":[["f51969a1.2d22f8"]]},{"id":"f715f992.f22ba8","type":"debug","z":"c772d115.d5f5c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1130,"y":800,"wires":[]},{"id":"f51969a1.2d22f8","type":"json","z":"c772d115.d5f5c","name":"","property":"payload","action":"","pretty":true,"x":950,"y":700,"wires":[["f715f992.f22ba8","d25790c9.9b207"]]},{"id":"b47760c8.02831","type":"watson-speech-to-text","z":"c772d115.d5f5c","name":"","alternatives":1,"speakerlabels":true,"smartformatting":true,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"BroadbandModel","bandhidden":"","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"ytmT1ijlmWVQQmdsno0YzFTlVN3RLYtl0h64SXS7SIbw","payload-response":true,"streaming-mode":false,"streaming-mute":true,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/fdc2d729-26cb-4a74-b274-beecd7db638f","x":860,"y":280,"wires":[["c51e29da.a9cd48","a3bb5161.d5399"]]}]